/**.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    height: 3em;
    box-shadow: 0 2px 3px #000000;
    background-color: #ffffff;
}**/
.navRightAlignWrapper{
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.loginBtn{

}
.title{
    margin:0;
}
.navSpacer{
    height: 3em;
    padding: 20px;
}
.listWrapper{

}

.author{
    font-size: 2em;
    margin: 0;
}
.popup{
    position: absolute;
    left: auto;right: auto;
    text-align: center;
    box-shadow: 5px 5px #000000;
    padding: 20px;
    background-color: #555555ee;
}
.loginUsernameBox{

}
.loginPasswordBox{

}
button{
    border: solid 1.5px black;
    background-color: none;
    padding: 5px 20px;
}
.loginBoxBtn{
    padding: 10px 30px;
}
.imgMarker{
	position: absolute;
}
