<template>
	<div class="card">
		<div class="row">
			<b>ろぐいん</b>
			<div class="col">
				<b class="form-name">ゆーざーめい</b>
				<input type="text" class="card" v-model="username"></input>
			</div>
			<div class="col">
				<b class="form-name">ぱすわーど</b>
				<input type="password" class="card" v-model="password"></input>
			</div>
			<div class="col">
				<input class="btn primary" type="button" value="ろぐいん" v-on:click="login()"></input>
			</div>
		</div>
	</div>
</template>
<script>
export default {
		props: [],
		data: ()=>{
				return {
					username: "",
					password: "",
				}
		},
		components: {
		},
		methods: {
			login: function(){
				console.log(this.username + this.password);
				this.$store.state.api.login(this.username, this.password, isSuc => {
					if(isSuc){
						console.log("Logged in.");
						this.$store.commit("updateUsername", this.username);
						this.$emit("toggle");
					}else{
						console.log("Login Error occured");
					}
				});
			}
		}
}
</script>
<style lang="less" scoped>
b.form-name{
	margin: 0 1em;
}
</style>
