<template>
	<div class="card">
		<div class="row">
			<b>あたらしくつくる</b>
			<div>いまいるところをくりっくしよう</div>
			<div class="makeMapWrapper" style="margin: 20px;">
				<img class="makeMapImg" src="imgs/map2.png" style="width: 100%;"></img>
				<img class="markerImg" src="imgs/marker2.png" style="position: relative;" width="200px"></img></img>
			</div>
		</div>
	</div>
</template>
<script>
import $ from "jquery";
export default {
		props: [],
		data: ()=>{
				return {}
		},
		components: {
		},
		mounted:function(){
			//Set up map for making...
			let mapWrapper = $(".makeMapWrapper");
			let mapElement = $(".makeMapImg");
			let mapMarker = $(".markerImg");
			let clickHandler = e => {
				console.log(e);
				console.log(e.offsetX);
				console.log(e.pageX);
				console.log(e.screenX);
				let markerPosition = {
					x: e.offsetX - 100,
					y: e.offsetY - 100
				};
				mapMarker.attr({
					style: "position: absolute; top: " + markerPosition.y + "px ; left: " + markerPosition.x + "px;",
				});
			}
			mapElement.mousedown(clickHandler);
			mapMarker.mousedown(clickHandler);
		}
}
</script>
<style lang="less" scoped>
b.form-name{
	margin: 0 1em;
}
.makeMapImg{
	position: absolute;
	width: 100%;
}
.markerImg{
	position: absolute;
	z-index: -1;
}
.makeMapWrapper{
	position:relative;
}
</style>
