<template>
    <div>
        <div class="row card">
					<div class="col"><b>あごらなう</b></div>
					<div class="3 col co-nav-item">{{ username }}</div>
					<div class="3 col co-nav-item"><a class="make-button" v-on:click="toggleMakeForm()">あたらしくつくる</a></div>
					<div class="3 col co-nav-item"><a class="login-button" v-on:click="toggleLoginForm()">ろぐいん</a></div>
        </div>
        <logincomp v-on:toggle="toggleLoginForm()" v-if="isLoginForm"></logincomp>
        <makecomp v-if="isMakeForm"></makecomp>
    </div>
</template>
<script>
import logincomp from './login.vue';
import makecomp from './make.vue';
export default {
		props: [],
		data: () => {
				return {
                    isLoginForm: false,
                    isMakeForm: false
                }
		},
		components: {
            "logincomp": logincomp,
            "makecomp": makecomp
		},
		computed: {
			username: function(){
				return this.$store.state.username
				}
		},
        methods: {
            toggleLoginForm:function(){
                console.log("called");
                this.isLoginForm = !this.isLoginForm;
            },
            toggleMakeForm:function(){
                console.log("called");
                this.isMakeForm = !this.isMakeForm;
            }
        }
}
</script>
<style lang="less">
.co-nav-item{
    text-align: right;
}
.login-button-wrapper{
    text-align: right;
}
.login-button{
    right: 0;
    margin-right: 0;
}
</style>
