<template>
		<div class="status-list-wrapper">
				<div v-for="status in statusarray">
						<Status :status=status></Status>
				</div>
		</div>
</template>
<script>
import Status from "./status.vue";
export default {
		props: ["statusarray"],
		data: ()=>{
				return {}
		},
		components: {
				Status
		}
}
</script>
<style scoped>
.status-list-wrapper{
	background-color: red;
	margin: 2em;
}
</style>
