<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>あごらなう</title>
        <!--<link rel="stylesheet" href="css/index.css">-->
        <link rel="stylesheet" href="vendor/bootstrap.min.css">
    </head>
    <body>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/ui.js"></script>
        <script type="text/javascript" src="vendor/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="vendor/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap.min.js"></script>

        <div id="app" class="container">
            <nav class="navbar navbar-dark bg-dark">
                <h1 class="navbar-brand">AgoraNow</h1>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">

                    </li>
                </ul>
                <div class="navbar-text">
                    {{ userData.username }}
                    <button class="btn btn-primary" data-toggle="modal" data-target="#createModal" v-if="UIflags.logined" v-on:click="initPosView">Create</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#createUserModal" v-if="!UIflags.logined">CreateUser</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal" v-if="!UIflags.logined">Login</button>

                </div>
            </nav>
            <div class="navSpacer"></div>
            <div class="listWrapper">
                <div class="alert alert-primary m-3" role="alert" v-if="!statusArray.length">
                    いまは誰も「あごらなう」してないよ！！
                </div>
                <div class="card" style="margin: 1rem;" v-for="status in statusArray">
                    <h5 class="card-title" style="margin:1rem;">{{ status.author.username }}</h5><br>
                    <div class="card-body">
						<div style="position: relative;">
							<img src="imgs/map.png" width="100%">
							<img src="imgs/marker2.svg" style="position: absolute; width: 20%;" v-bind:style="{top: status.position.y + '%', left: status.position.x + '%'}">
						</div>
						<div class="card-title">コメント</div>
                        <div class="card-text">{{ status.comment }}</div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-danger" v-if="status.author.user_id === userData.user_id" v-on:click="deleteStatus($event,status.status_id)">Delete</button>
                        <button class="btn btn-danger" v-else disabled>Delete</button>
                    </div>
                </div>
            </div>

            <!--login Popup-->
            <div class="modal fade" id="loginModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Login</h5>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-primary" v-if="UIflags.loginError">Can't login to Server!!</div>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" v-model="username" placeholder="Username?">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="password" placeholder="Password?">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" v-on:click="login">Login</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--createUserPopup-->
            <div class="modal fade" id="createUserModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CreateUser</h5>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-primary" v-if="UIflags.loginError">Can't login to Server!!</div>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" v-model="createUserData.username" placeholder="Username?">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" v-model="createUserData.password" placeholder="Password?">
                            </div>
                            <div class="form-group">
                                <label>Password(Confirm)</label>
                                <input type="password" class="form-control" v-model="createUserData.password_confirm" placeholder="Password?">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" v-on:click="createUser">Create</button>
                            <button class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--createPopup-->
            <div class="modal fade" id="createModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Create</h5>
						</div>
            				<div class="modal-body">
								<div class="alert alert-primary" v-if="UIflags.createError">Can't create Status!!</div>
								<div class="canvasWrapper" width="100%" v-on:click="initPosView" style="padding: 0;margin: 20px;position: relative;">
									<img id="createMap" src="imgs/map.png" width="100%">
									<img id="createMarker" src="imgs/marker2.svg" style="position: absolute;width: 20%;visibility: hidden;">
								</div>
								<div class="form-group">
									<label>Comment</label>
									<textarea class="form-control" v-model="createData.comment" placeholder="I am Agoring now!!"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" v-on:click="create">Create</button>
								<button class="btn" data-dismiss="modal">Cancel</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
